body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.form-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.welcome {
  text-align: center;
  margin-top: 50px;

}

.welcome h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.welcome p {
  margin-bottom: 30px;
  font-size: 20px;
}

#cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
#banner, #abt{
  width: 50%;
  padding: 20px;
}
#banner img{
  width: 100%;
  height: auto;
}
#abt h2 {
  font-size: 2em;
  color: #2c3e50;  
  margin-bottom: 20px;
  text-align: center;  
}

#abt p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #34495e;  
  text-align: justify;  
  margin-bottom: 30px;
}

#abt p::first-letter {
  font-size: 1.5em;
  font-weight: bold;  
  color: #e74c3c; 
}
#footer{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  background-color: #333;
  color: white;
}
.left, .right{
  width: 45%;
}