{% extends 'base.html' %}

{% block content %}
<div class="welcome">
    <h2>Welcome to DocBridge</h2>
    <p>Your bridge to expert medical consultation.</p>
    
</div>
<div id="cont">
    <div id="abt">
        
        <h2>Your Health, Our Priority: Expert Consultation at Your Fingertips</h2>
        <p>Imagine having access to world-class medical expertise without leaving your home. With DocBridge, doctors are no longer bound by geographical limitations. Whether you're in a remote village or a bustling city, our platform connects you to top-tier medical professionals who are ready to guide you through your health journey, ensuring that quality healthcare is always within your reach.</p>

    </div>
    <div id="banner">
        <img src="{{ url_for('static', filename='images/banner.png') }}" alt="Banner Image"/>

    </div>
</div>
<a href="{{ url_for('register') }}">Get Started>></a>
<div id="footer">
   
    <div class="left">
        <h3>Team</h3>
        <ul>
        <li>
            <strong>Mabuoc Manyuat</strong><br>
            <a href="https://www.linkedin.com/in/mmanyuat/" target="_blank">LinkedIn</a> |
            <a href="https://github.com/mmanyuat/DocBridge" target="_blank">GitHub</a> |
            <a href="https://twitter.com" target="_blank">Twitter</a>
        </li>
        </ul>
    </div> 
    <div class="right">
        <h3>Project Repository</h3>
        <p>
        You can check out the full codebase for DocBridge on GitHub <a href="https://github.com/mmanyuat/docbridge" target="_blank">here</a>.
        </p>
    </div>    
               
</div>

{% endblock %}
